	body
	{
		background-color:white;
		font-family:Verdana; 
	}
	
	.navbar-dark .navbar-brand {
		color: white;
	}
	
	.navbar-dark .navbar-brand [type="text"]{
		color: white;
	}
	
	.movie-box{
		
		background-color:white;
		margin-top:100px;
		margin-left: 200px;
		margin-right: 200px;
	}
	.movie-box2{
		
		background-color:white;
		margin-top:100px;
		margin-left: 200px;
		margin-right: 200px;
	}
	.container{
		border-right:5px red solid;
		border-left:5px red solid;
		border-top:5px red solid;
		border-bottom:5px red solid;
	}

